.home-container {
<<<<<<< HEAD
  padding-top: 90px;
=======
  padding: 120px;
>>>>>>> 0f99116888b12fa6850cdd76c8bb31cc09651a6b
  padding-inline: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.home-main {
  text-align: center;
}
.home-main h1{
    margin-bottom: 40px;
    color: #1E40AF;
}

.home-title {
  font-size: 36px;
  margin-bottom: 16px;
}

.home-main p {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 16px;
}

.home-main h2 {
    color: #1E40AF;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: left;
}

.home-main ul {
  font-size: 18px;
  line-height: 1.8;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 16px;
}

.home-highlight {
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.8;
}
