.home-container {
  padding: 120px;
  padding-inline: 20px;
  max-width: 900px;
  margin: 0 auto;
}
.home-container img{
  border-radius: 16px 16px 0 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.home-main {
  text-align: center;
}
.home-main h1{
    margin-bottom: 40px;
    color: #1E40AF;
}

.home-title {
  font-size: 36px;
  margin-bottom: 16px;
}

.home-main p {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 16px;
}

.home-main h2 {
    color: #1E40AF;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
  text-align: left;
}

.home-main ul {
  font-size: 18px;
  line-height: 1.8;
  padding-left: 20px;
  text-align: left;
  margin-bottom: 16px;
}

.home-highlight {
  font-weight: bold;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.8;
}
.home-container-content{
  background-color:#eaf6f6;
  padding: 45px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0 0 16px 16px ;
}
.what-find-content{
  background-color: #fef6f0;
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.8s ease forwards;
}



body {
  background-image: url('https://cdn.wallpapersafari.com/14/91/85Fkmg.png');
  background-position: center;
    background-size: 1000px 1000px;
}
